.font-link {
    font-family: "Roboto Slab", serif;
  }

.roboto {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
  }
  
  .roboto-flex {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
  }

.animate{
    animation: move 5s ease-in infinite;
}

@keyframes move {
    0%{
        transform: translateY(20px);
        background: #000;
    }
    50%{
        transform: translateY(-20);
        background: red;
    }
    100%{
        transform: translateY(-20);
    }
}


::-webkit-scrollbar{
    width: 0;
    height: 0;
}