@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$barbarian: #EC9B3B;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/20px "Lato", Arial, sans-serif;

}


.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  
  &:focus {
    outline: 0;
  }
}



.clash-card {
  background: white;
  display: inline-block;
  border: 1px solid rgba(160, 156, 156, 0.742);
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  // box-shadow: -1px 15px 30px -12px black;
  z-index: 99;
}

.clash-card__image {
  position: relative;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--barbarian {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
  img {
    width: 400px;
    position: absolute;    

  }
}

.clash-card__image--archer {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
  img {
    width: 300px;
    position: absolute;    
  }
}

.clash-card__image--giant {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
  img {
    width: 340px;
    position: absolute;    
  }
}

.clash-card__image--goblin {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
  img {
    width: 370px;
    position: absolute;    
  }
}

.clash-card__image--wizard {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
  img {
    width: 345px;
    position: absolute;    
  }
}

.clash-card__level {
  text-transform: uppercase;
  font-weight: 700;
}

.clash-card__level--barbarian {
  color: $barbarian;
}

.clash-card__level--archer {
  color: $archer;
}

.clash-card__level--giant {
  color: $giant;
}

.clash-card__level--goblin {
  color: $goblin;
}

.clash-card__level--wizard {
  color: $wizard;
}

.clash-card__unit-name {
  color: black;
  font-weight: 900;
}

.clash-card__unit-description {
  padding: 20px;
}

.clash-card__unit-stats--barbarian {
  background: $barbarian;
  
  .one-third {
     border-right: 1px solid #573711;
  }
}

.clash-card__unit-stats--archer {
  background: $archer;
  
  .one-third {
     border-right: 1px solid #5b2537;
  }
}

.clash-card__unit-stats--giant {
  background: $giant;
  
  .one-third {
     border-right: 1px solid darken($giant, 40%);
  }
}

.clash-card__unit-stats--goblin {
  background: $goblin;
  
  .one-third {
     border-right: 1px solid darken($goblin, 40%);
  }
}

.clash-card__unit-stats--wizard {
  background: $wizard;
  
  .one-third {
     border-right: 1px solid darken($wizard, 40%);
  }
}

.clash-card__unit-stats {
  
  color: white;
  
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
  
  .one-third {
    width: 33%;
    float: left;
  }

  .two-third {
    width: 67%;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 3px;

  }
  
  .stat {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

.swipercardsss{
  width: 300px !important;
}

@media (min-width: 992px){
  .swipercardsss{
    width: 200px !important;
    background-color: transparent !important;
    border: none !important;
  }
}